[Desktop Entry]
Name=Guitar tools
Exec=guitar-tools
Icon=guitar-tools/guitar-tools.png
Terminal=false
Type=Application
X-Lomiri-Touch=true
X-Lomiri-Supported-Orientations=portrait
